[user]
	email = thj@variant.no
	name = Truls Henrik Jakobsen
[core]
	excludesfile = ~/dotfiles/.gitignore_global
[init]
	defaultBranch = main
[url "git@github.com:"]
        insteadOf = https://github.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	autoSetupRemote = true
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail https://whatthecommit.com/index.txt)\"
